<button class="btn btn-primary" (click)="toggleDisplay()">Display Details</button>
<br />&nbsp;
<p *ngIf="shouldShow">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt in eos vitae iste molestiae repellat, laborum sequi
  accusamus sed amet quo, earum vero aut asperiores officia eum cupiditate nobis. Recusandae!
</p>
<br />&nbsp;
<div *ngFor="let item of clicks; let indexOfClicks = index;">
  <p [ngStyle]="{backgroundColor: getColor(indexOfClicks)}" [ngClass]="{whiteText: indexOfClicks >= 5}">
    {{ item }}
  </p>
</div>
