<label for="server-name"></label>
<!--<input type="text" id="server-name" (input)="onServerNameChange($event)">-->
<input type="text" id="server-name" [(ngModel)]="latestServerName">
<br/>
<br/>
<button class="btn btn-primary" [disabled]="!allowNewServers" (click)="onAddServerClicked()">Add Server</button>
<h5 *ngIf="serverCreationStatus; else noServer">{{serverCreationStatus}}</h5>
<ng-template #noServer>
  <h5>No server was created!</h5>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>


